.titulo{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 22pt;
      margin-left: 1rem;
      color:#00ffff;
}

.sub{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16pt;
      margin-left: 1rem;
      color: #ffff3f;
}

.card{
      margin-bottom: 1rem;
}

img{
      margin-left: 1rem;
}

.card-body{
      border:white 1px solid;
      border-radius: 10px;
      padding: 12px;
}